.App{
  background-color: #ecf0f1;
}

.App .header{
  height: 70px;
  color: #ffffff;
  background-color: #34495e;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
}

.App .header > div{
  width: 70%;
  height: 100%;
  display: flex;
  margin: 0px auto;
  align-items: center;
  justify-content: space-between;
}

.App .header > div a{
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
}

header > div a span{
  color: #c0392b;
  font-weight: 600;
}

.App .header ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header ul li{
  list-style: none;
  padding: 0px 24px;
}

.App main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.App main .App_right{
  width: 60vw;
  height: 100vh;
  padding: 64px 0px;
}

.App .App_right .load_par {
  width: 480px;
  height: 480px;
  padding: 16px;
  margin: 0px auto;
  border-radius: 8px;
  background-color: #bdc3c7;
}

.App_right .load_par .load_inner{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #000;
}

.App_right .load_par .disp_inner{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 2px dashed #000;
}

.disp_inner .disp_owner{
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
}

.load_par .disp_inner .media_item{
  margin: 4px;
  width: 103px;
  height: 103px;
  display: flex;
  flex-basis: auto;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  transition-delay: 1s;
  transition-timing-function: ease;
  transition-property: display;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}

.media_item .inner_item{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.media_item .inner_item a svg{
  width: 32px;
  height: 32px;
  fill: #c0392b;
  animation-name: bouncingSvg;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 0.9s;
  transition: all 0.9s ease-in-out;
}

.media_item .inner_item span{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  border: 2px solid #34495e;
  border-left-color: #c0392b;
  animation-name: circleReducer;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.9s;
}

.media_item video{
  width: 100%;
  height: 100%;
}

.load_inner .load_content svg{
  width: 100%;
  height: 128px;
  object-fit: fill;
  object-position: center;
}

.load_content h5{
  width: max-content;
  margin: 0px auto;
}


.load_inner .load_content .load_choice{
  text-align: center;
  position: relative;
}

.load_content p{
  color: #ececec;
  margin: 4px auto;
  text-align: center;
}

.load_content .load_choice label{
  color: #c0392b;
  cursor: pointer;
}


.load_content .load_choice input[type=file]{
  position: absolute;
  left: 0px;
  opacity: 0;
  cursor: pointer;
}

.App_right .med-controller{
  width: 480px;
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.med-controller select{
  font-weight: 600;
  padding: 4px 24px;
  margin-right: auto;
  margin-left: auto;
}

.med-controller label{
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
}


@keyframes circleReducer {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
  
}

@keyframes bouncingSvg{
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(8px);
  }
}